<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584822456823-lhmjn284dr9dpc34bub4u4ppo46jllb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584822456823-lhmjn284dr9dpc34bub4u4ppo46jllb1</string>
	<key>API_KEY</key>
	<string>AIzaSyDdQ6MOcWNQru-kMB1pghvBW0ixn3pUnfI</string>
	<key>GCM_SENDER_ID</key>
	<string>584822456823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tatertots.Experience</string>
	<key>PROJECT_ID</key>
	<string>experienceapp-85ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>experienceapp-85ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584822456823:ios:e60edc0d6bc8339bd32ef2</string>
</dict>
</plist>